<h1><%= @cat.name %></h1>
<%= link_to "Edit", edit_cat_path(@cat) %>
<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<h2>Requests</h2>
<table>
    <tr>
      <th>id</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
  <% @requests.each do |request|%>
      <tr>
        <td><%= request.id %></td>
        <td> <%= request.start_date %> </td>
        <td> <%= request.end_date %></td>
        <td> <%=  request.status %></td>
        <% if request.pending? %>
          <td>
            <%= button_to "Approve Request",
              approve_cat_rental_request_url(request),
              method: :patch %>
          </td>
          <td> <%= button_to "Deny Request", {controller: "cat_rental_requests",
                        action: "deny", id: request.id}, {method: :patch}%> </td>
        <% end %>
      </tr>
  <% end %>
</table>

<%= link_to "Index", cats_path %>
<%= button_to "Delete Cat", { action: "destroy", id: @cat.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>
